input[type=text], input[type=email], textarea {
    padding: 18px 26px;
    margin: 8px 4px;
    box-sizing: border-box;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    font-family: 'Raleway';
    width: 100%;
    width: calc(100% - 4px);
    resize: none;
}

input[type=text].invalid, input[type=email].invalid, textarea.invalid {
    border-color: $col-danger;
}