
@mixin layout-util($sizes) {
    @for $i from 0 through length($sizes) {
        $size: 0;
        @if $i != 0 {
            $size: nth($sizes, $i);
        }
        
        .m-#{$i} {
            margin: $size;
        }
        .mt-#{$i} {
            margin-top: $size;
        }
        .mb-#{$i} {
            margin-bottom: $size;
        }
        .ml-#{$i} {
            margin-left: $size;
        }
        .mr-#{$i} {
            margin-right: $size;
        }
        .mx-#{$i} {
            margin-right: $size;
            margin-left: $size;
        }
        .my-#{$i} {
            margin-top: $size;
            margin-bottom: $size;
        }
        .p-#{$i} {
            padding: $size;
        }
        .pt-#{$i} {
            padding-top: $size;
        }
        .pb-#{$i} {
            padding-bottom: $size;
        }
        .pl-#{$i} {
            padding-left: $size;
        }
        .pr-#{$i} {
            padding-right: $size;
        }
        .px-#{$i} {
            padding-right: $size;
            padding-left: $size;
        }
        .py-#{$i} {
            padding-top: $size;
            padding-bottom: $size;
        }
    }
}


