


nav.navbar {
    overflow: hidden;
    background: $col-primary;
    color: white;
    ul.nav-items {
        text-align: left;
        margin: 0;
        padding: 20px;
        li {
            display: inline-block;
            margin-right: 15px;
        }
    }
    ul.nav-items.center {
        text-align: center;
    }

    ul.nav-items.right {
        text-align: right;   
    }
}