.text-primary {
    color: $col-primary;
}

.text-default {
    color: $col-default;
}

.text-danger {
    color: $col-danger;
}

.text-warning {
    color: $col-warning;
}

.text-dark {
    color: $col-dark;
}

.text-info {
    color: $col-info;
}

.text-secondary {
    color: $col-secondary;
}

.text-white {
    color: $col-white;
}



.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}