
.primary {
    color: $col-primary!important;
    border-color: $col-primary!important;
}

.primary::before, .primary::after {
    color: $col-primary!important;
    border-color: $col-primary!important;
    background: $col-primary!important;
}

.default {
    color: $col-default!important;
    border-color: $col-default!important;
}

.default::before, .default::after {
    color: $col-default!important;
    border-color: $col-default!important;
    background: $col-default!important;
}

.danger {
    color: $col-danger!important;
    border-color: $col-danger!important;
}

.danger::before, .danger::after {
    color: $col-danger!important;
    border-color: $col-danger!important;
    background: $col-danger!important;
}

.warning {
    color: $col-warning!important;
    border-color: $col-warning!important;
}

.warning::before, .warning::after {
    color: $col-warning!important;
    border-color: $col-warning!important;
    background: $col-warning!important;
}

.dark {
    color: $col-dark!important;
    border-color: $col-dark!important;
}

.dark::before, .dark::after {
    color: $col-dark!important;
    border-color: $col-dark!important;
    background: $col-dark!important;
}

.info {
    color: $col-info!important;
    border-color: $col-info!important;
}

.info::before, .info::after {
    color: $col-info!important;
    border-color: $col-info!important;
    background: $col-info!important;
}

.secondary {
    color: $col-secondary!important;
    border-color: $col-secondary!important;
}

.secondary::before, .secondary::after {
    color: $col-secondary!important;
    border-color: $col-secondary!important;
    background: $col-secondary!important;
}

.secondary {
    color: $col-secondary!important;
    border-color: $col-secondary!important;
}

.secondary::before, .secondary::after {
    color: $col-secondary!important;
    border-color: $col-secondary!important;
    background: $col-secondary!important;
}

.white {
    color: $col-white!important;
    border-color: $col-white!important;
}

.white::before, .white::after {
    color: $col-white!important;
    border-color: $col-white!important;
    background: $col-white!important;
}

$colClasses: (white, primary, seondary, info, dark, warning, danger, default);

@mixin bgClasses($cols) {
    .bg-primary {
        background-color: $col-primary;
    }
    .bg-secondary {
        background-color: $col-secondary;
    }
    .bg-dark {
        background-color: $col-dark;
    }
    .bg-danger {
        background-color: $col-danger;
    }
    .bg-warning {
        background-color: $col-warning;
    }
    .bg-info {
        background-color: $col-info;
    }
    .bg-default {
        background-color: $col-default;
    }
    .bg-white {
        background-color: $col-white;
    }
}

@include bgClasses($colClasses)