/* RGB */
$col-default: rgba(53, 53, 49, 1);
$col-danger: rgba(236, 78, 32, 1);
$col-warning: rgba(255, 149, 5, 1);
$col-primary: rgba(1, 111, 185, 1);
$col-dark: rgba(0, 0, 0, 1);
$col-info: rgba(71, 0, 36, 1);
$col-secondary: rgba(110, 144, 117, 1);

$col-background: rgba(255, 255, 255, 1);
$col-white: rgba(250, 250, 250, 1);
$navbar-height: 60px;